{% if ospf_priority is defined %}
{%- for interface in ospf_active_interfaces %}
{%- if interface == 1 %}
interface vlan {{ interface }}
   ip ospf priority {{ ospf_priority }}
{%- endif %}
{%- endfor %}
{% endif %}
router ospf {{ ospf_process_id }}
   passive-interface default
   {%- for interface in ospf_active_interfaces %}
   no passive-interface Vlan{{ interface }}
   {%- endfor %}
   {%- for network in ospf_area0_networks %}
   network {{ network }} area 0.0.0.0
   {%- endfor %}
   max-lsa 12000